* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: Georgia, serif;
	color: #fff;
}

a {
	text-decoration: none;
	background: #fff;
	color: #333;
}

a:hover {
	background: none;
	color: #fff;
}

.hero {
	background-image: url('../img/HeroLowRes.jpg');
	background-position: 47% 0%;
	background-size: cover;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
}

.img-overlay {
	height: 100%;
  background-image: -webkit-linear-gradient(rgba(58, 84, 94, 0.29), rgba(58, 84, 94, 0));
  background-image: -o-linear-gradient(rgba(58, 84, 94, 0.29), rgba(58, 84, 94, 0));
  background-image: linear-gradient(rgba(58, 84, 94, 0.29), rgba(58, 84, 94, 0));
	background-image: linear-gradient(rgba(99, 84, 94, 0.29), rgba(58, 84, 94, 0));
}

header {
	margin: 0;
	font-style: italic;
	text-align: center;
  letter-spacing: 1px;
	font-size: 1em;
	line-height: 28px;
}

.title-overlay {
  position: absolute;
  left: 0px;
  top: 3%;
  right: 0px;
  background-color: rgba(61, 61, 61, 0.50);
}

nav {
	margin: 0;
	text-align: center;
	line-height: 45px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.buttons-overlay {
  position: absolute;
  left: 0px;
  top: 20%;
  right: 0px;
  background-color: rgba(61, 61, 61, 0.50);
}

a.button-eng {
	margin-right: 10px;
	padding: 5px 25px;
	border: solid 1px #fff;
	border-radius: 3px;
}

a.button-esp {
	padding: 5px 10px;
	border: solid 1px #fff;
	border-radius: 3px;
}

.footer {
	position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: 480px) {
	header {
		font-size: 1.25em;
		line-height: 30px;
	}
	nav {
		line-height: 50px;
		font-size: 1em;
	}
	a.button-eng  {
		margin-right: 40px;
	}
	.footer {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 640px) {
	.hero {
		background-position: 35% 0%;
	}
	header {
		font-size: 1.375em;
		line-height: 35px;
	}
	nav {
		line-height: 55px;
		font-size: 1.25em;
	}
	a.button-eng  {
		margin-right: 70px;
	}
	.footer {
		font-size: 1.375em;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		background-image: url('../img/HeroHighRes.jpg');
		background-position: 35% 5%;
	}
	header {
		font-size: 1.5em;
		line-height: 40px;
	}
	.title-overlay {
		top: 10%;
	}
	nav {
		line-height: 60px;
		font-size: 1.5em;
	}
	.buttons-overlay {
		top: 30%;
	}
	.footer {
		font-size: 1.5em;
	}
}