body {
	margin: 0;
	color: #000;
	font-family: sans-serif;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
	color: #fff;
}

a:focus { /* remove default dotted outline styles on visited links. But be careful removing them, as they are a usability feature. If you do, make sure to define focus styles later in your code (from treehouse). See focus styles defined later. */
  outline: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

/******************************
TOP BAR
******************************/
.top-bar {
  top: 0;
	width: 100%;
	height: 40px;
	background: #DD7901;
}

.top-bar a {
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}

.facebook {
  width: 26px;
  height: 26px;
  background: url('../img/facebook-icon.png') no-repeat center center;
	background-size: cover;
	margin-left: 2px;
	margin-right: 2px;
}

.twitter {
  width: 26px;
  height: 26px;
  background: url('../img/twitter-icon.png') no-repeat center center;
	background-size: cover;
	margin-left: 2px;
	margin-right: 2px;
}

.spanish {
	font-size: 0.9em;
	padding-top: 4px;
}

.search {
  display: inline-block;
	width: 125px;
}

.top-bar a.youcan {
	display: none;
}

/******************************
NAVIGATION
******************************/
.menu-icon-bar {
	position: relative;
	width: 100%;
	height: 30px;
	background: #78191D url('../img/menu-icon.png') no-repeat 13% center;
	color: #fff;
	padding-top: 15px; /* positioning of the word MENU */
	padding-left: 27%;
	cursor: pointer;
	z-index: 1;
}

.nav-wrap {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	z-index: 3;
}

.main-nav,
.drop-nav {
  background: #A63B35;
}

.main-nav {
	display: none;
	width: 100%;
	min-height: 30px;
  border: solid 1px #78191D;
}

.main-nav > li {
  float: none;
}

.main-nav a {
  display: block;
  padding: 10px 15%;
}
	
.main_menu {
	text-transform: uppercase;
	border-top: 1px solid #78191D;
}

a:hover, /* "because that white outline we got rid off earlier (a:focus {outline: 0;}) was providing an important accessibility feature, we should add back in a style for our links focus and active states. Personally, I just like to make them the same as the hover state. It's about the same thing, as far as actual function. Whatever your hover state is, even if it's shifting a background image or changing size or whatever, it can be joined with the active and focus states" (from treehouse) */
a:focus,
a.selected {
	color: #FECB24;
}

.dropdown {
  position: relative;
}

.drop-nav {
	width: 100%; /* width of submenus */
	padding-left: 30px;
	border-top: 1px solid #78191D;
}

.dropdown:hover > .drop-nav {
  display: block;
}

.verticalribbon {
  background: #005F75;
	width: 80px;
  height: 45px;
  margin: 0 auto;
  position: absolute;
	top: 0px;
  right: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  font-size: 16px;
	z-index: 2;
}

.verticalribbon:after,
.verticalribbon:before {
  content: '';
  position: absolute;
  border-top: 20px solid #005F75; /* angle degree, reduce to reduce degree of angles */ 
  height: 0; /* no height, no content, just border */
  width: 0;
  top: 100%;
}

.verticalribbon:after { /* right angle */
  border-left: 50px solid transparent;
  right: 0px;
}

.verticalribbon:before { /* left angle */ 
  border-right: 50px solid transparent;
  left: 0px;
}
 
.scrolled {
  position: fixed;
  top: 0;
}

/******************************
HEADER
******************************/
.banner {
	width: 100%;
	height: 70px;
	padding-top: 6px;
	background: #E0D7C8;
}

#logo-img {
	width: 100px;
	height: 64px;
}

header h1 {
	float: right;
	width: 60%;
	padding-top: 5px;
	font-family: 'Molengo', sans-serif;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
	font-weight: normal;
	color: #B84E53;
}

/******************************
CAROUSEL
******************************/
#carousel {
	width: 100%;
	position: relative;
	padding-top: 38%; /* 570/1500 */
	overflow: hidden;
}

#carousel img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/******************************
CONTENT
******************************/
.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.875em;
	text-align: justify;
	color: #222;
}

.description p span {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	color: #A63B35;
	text-transform: uppercase;
}

.clearfix:after {
	content: "";
  display: table;
  clear: both;
}

/* grid */
[class*="row-"] {
  margin: 20px;
	padding-bottom: 20px;
}

[class*="col-"] {
	border: 1px solid #ddd;
	margin-right: 10px;
	margin-bottom: 10px;
}

 .col-1-4 {
  float: left;
  width: 44.8%;
}

.row-4 h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 0.875em;
}

a:link.button-read {
	display: block;
	background: #DD7901;
  padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.75em;
}

.shadow {
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.4);
}

/* LATEST NEWS */
.news h2 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	color: #005F75;
	text-transform: uppercase;
}

.news td {
    padding: 4px 15px;
		vertical-align: top;
		line-height: 1.5;
}

.date {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	color: #A63B35;
}

.news h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
  font-size: 1em;
  margin: 0;
}

.news-text {
	font-family: 'Molengo', sans-serif;
	font-weight: 400;
}

/******************************
FOOTER
/*******************************/
footer {
	background-color: #A63B35;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 0px;
	margin-top: 40px; /* separate header from the end of content */
}

.footer-left,
.footer-center,
.footer-right {
	vertical-align: top;
	display: block;
	width: 100%;
	text-align: center;
}

/* footer left */
footer p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	color:  #fff;
}

footer h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	color:  #F2B500;
}

.footer-icons {
	margin-top: 10px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #fff;
	border-radius: 2px;
	margin-right: 3px;
}

/* footer center */
.footer-center {
	padding-top: 7px;
}

.footer-center img {
	width: 38px;
	height: 38px;
	margin: 10px 10px 10px 0;
	vertical-align: middle;
}

.footer-center p {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin:0;
}

/* footer right */
.footer-right h3{
	margin-bottom: 0px;
}

.footer-links a {
	display: inline-block;
	line-height: 1.8;
}

p.copyright {
	color: #000;
}