@media screen and (min-width: 480px) {
	/******************************
	NAVIGATION
	******************************/
	.arrow { /* down-arrow icon */
		margin-right: 45%;
	}
}

@media screen and (min-width: 640px) {
	/******************************
	NAVIGATION
	******************************/
	.arrow { /* down-arrow icon */
		margin-right: 50%;
	}
	
	#menu-icon-bar {
		padding-left: 23%; /* positioning of the word MENU */
	}
}

@media screen and (min-width: 768px) {
	/******************************
	NAVIGATION
	******************************/
	.main-nav {
		padding-left: 0;
		display: block !important; /* ensure .main-nav is visible on desktop version */
		margin-top: 0;
	}
	
	.main-nav > li {
		float: left;
		border-left: solid 1px #1e2a36;
	}
	
	.main-nav li:first-child {
		border-left: none;
	}

	.main-nav a {
		padding: 10px 10px;
	}
	
	.main_menu {
		font-size: 0.95em;
	}
	
	.arrow { /* down arrow icon */
		margin-right: 2px;
	}
	
	/* .main_menu:after { /* this code had problems on mobile screens) 
		content: "\25BC"; /* UTF-8 character for down-pointing triangle 
		font-size: .5em;
		color: #fff;
		display: block;
		position: absolute;
		top: 38%;
		right: 2%;
	} */
	
	.drop-nav {
		position: absolute;
		display: none;
		width: 200px; /* width of submenus */
		padding-left: 0;
	}
	
	.long-line {
		width: 300px; /* width of "What we do"'s submenu with long lines: Empowerment and education, etc. */
	}
	
	.drop-nav li {
		border-bottom: 1px solid #78191D;
	}

	/* menu icon */
	#menu-icon-bar {
		display: none; /* hide menu icon */
	}
	
	#donate-bg {
		width: 80px;
		height: 76px;
		right: 0px;
		background: url('../img/donateRibbon768.png') no-repeat;
	}
	
	/******************************
	HEADER
	******************************/
	header {
		height: 200px;
	}
	
	header a {
		width: 253px;
		height: 162px;
		margin-top: -84px;
	}
	
	#logo-img {
		width: 253px;
		height: 162px;
	}
	
	header h1 {
		font-size: 2em;
		margin-right: 15%;
	}
}

@media screen and (min-width: 1024px) {
	/******************************
	NAVIGATION
	******************************/
	.main-nav {
		padding-left: 2%;
	}
	
	.main-nav a {
		padding: 10px 20px;
	}
	
	.main_menu {
		font-size: 1em;
	}
	
	.arrow { /* down arrow icon */
		margin-right: 10px;
	}
	
	#donate-bg {
		width: 100px;
		height: 86px;
		background: url('../img/donateRibbon.png') no-repeat;
	}
}

@media screen and (min-width: 1260px) {
	/******************************
	NAVIGATION
	******************************/
	.main-nav {
		padding-left: 5%;
	}
	
	.main-nav a {
		padding: 10px 30px;
	}
	
	#donate-bg {
		right: 5%;
	}
}