@media screen and (min-width: 480px) {
	/******************************
	TOP BAR
	******************************/
	.top-bar-elements {
		padding-right: 5%;
	}
}

@media screen and (min-width: 640px) {
	/******************************
	NAVIGATION
	******************************/
}

@media screen and (min-width: 768px) {
	body {
		padding-top: 40px; /* reveal top-bar (its height 40px) */
	}

	/******************************
	TOP BAR
	******************************/
	.top-bar {
		height: 40px;
	}
	
	.spanish {
		padding: 6px 10px;
	}

	.search {
		width: 250px;
	}


	/******************************
	NAVIGATION
	******************************/
	.menu-icon-bar {
		display: none;
	}
	
	.main-nav {
		padding-left: 0;
		display: block !important; /* ensure .main-nav is visible on desktop version */
		padding-top: 0;
	}
	
	.main-nav > li {
		float: left;
		border-left: solid 1px #1e2a36;
	}
	
	.main-nav li:first-child {
		border-left: none;
	}

	.main-nav a {
		padding: 10px 10px;
	}
	
	.main_menu {
		font-size: 0.95em;
		border-top: none;
	}
	
	.arrow { /* down-arrow icon */
		position: relative;
		background-image: url('../img/down-arrow-icon.png');
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center right;
		margin-right: 2px;
	}
	
	.drop-nav {
		position: absolute;
		display: none;
		width: 200px; /* width of submenus */
		padding-left: 0;
		border-top: none;
	}
	
	.long-line {
		width: 300px; /* width of "What we do"'s submenu with long lines: Empowerment and education, etc. */
	}
	
	.drop-nav li {
		border-bottom: 1px solid #78191D;
	}

	/* menu icon */
	.menu-icon-bar {
		display: none; /* hide menu icon */
	}
	
	/******************************
	BANNER
	******************************/
	.banner {
		height: 140px;
		padding-top: 50px;
	}
	
	#logo-img {
		/* padding-left: 5%; */
		width: 200px;
		height: 128px;
	}
	
	h1 {
		font-size: 2em;
		width: 45%;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		padding: 0;
	}
	
	/******************************
	TOP BAR
	******************************/
	.top-bar-elements {
		padding-right: 0;
	}
	
	/******************************
	NAVIGATION
	******************************/
	.main-nav {
		padding-left: 2%;
	}
	
	.main-nav a {
		padding: 10px 20px;
	}
	
	.main_menu {
		font-size: 1em;
	}
	
	.arrow { /* down arrow icon */
		margin-right: 10px;
	}
	
	.verticalribbon {
		width: 100px; /* ribbon width */
    height: 60px;
    font-size: 18px;
	}
}

@media screen and (min-width: 1260px) {
	/******************************
	NAVIGATION
	******************************/
	.main-nav {
		padding-left: 5%;
	}
	
	.main-nav a {
		padding: 10px 30px;
	}
	
	.arrow { /* down arrow icon */
		margin-right: 15px;
	}
	
	/******************************
	BANNER
	******************************/

}